@{
    ViewBag.Title = "Pagina de contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Toluca estado de méxico<br />
    Colon<br />
    <abbr title="Telefono"></abbr>
    7227119018
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">cesar.gonzalez.p.21@gmail.com</a><br /> 
</address>